<section class="app-tabs">
  <button routerLink="/main/home" routerLinkActive="active-button" class="mdc-button">
    <i class="material-icons mdc-button__icon" aria-hidden="true">home</i>
  </button>
  <button class="mdc-button">
    <i class="material-icons mdc-button__icon" aria-hidden="true">payment</i>
  </button>
  <button routerLink="/main/pay" routerLinkActive="active-button" class="mdc-button">
    <i class="material-icons mdc-button__icon" aria-hidden="true">compare_arrows</i>
  </button>
  <button class="mdc-button">
    <i class="material-icons mdc-button__icon" aria-hidden="true">settings</i>
  </button>
</section>