<div class="content-wrapper">
  <h3>Choose payment method</h3>
  <div class="mdc-card">
    <ul class="mdc-list">
      <li class="mdc-list-item" tabindex="0">
        <span class="mdc-list-item__text">Hoopay ID</span>
      </li>
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">Phone Number</span>
      </li>
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">E-mail address</span>
      </li>
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">QR Code</span>
      </li>
    </ul>
  </div>
</div>