<div class="content-wrapper">
  <img id="main-logo" src="assets/images/hoopay_logo.svg" alt="Hoopay Logo">

  <form>

    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
      <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">person</i>
      <input type="text" id="signup-first-name" class="mdc-text-field__input">
      <label class="mdc-floating-label" for="signup-first-name">First Name</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
      <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">person_outline</i>
      <input type="text" id="signup-last-name" class="mdc-text-field__input">
      <label class="mdc-floating-label" for="signup-last-name">Last Name</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
      <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">mail_outline</i>
      <input type="text" id="signup-email" class="mdc-text-field__input">
      <label class="mdc-floating-label" for="signup-email">E-mail address</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
      <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">lock_open</i>
      <input type="password" id="signup-password" class="mdc-text-field__input">
      <label class="mdc-floating-label" for="signup-password">Password</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <div class="form-input mdc-text-field mdc-text-field--with-leading-icon">
      <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">lock_open</i>
      <input type="password" id="signup-confirm" class="mdc-text-field__input">
      <label class="mdc-floating-label" for="signup-confirm">Confirm Password</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <button type="button" class="form-button mdc-button mdc-button--outlined">
      <span class="mdc-button__label">Register</span>
    </button>
  </form>
</div>