<div class="content-wrapper">
  <div class="mdc-card">
    <ul class="mdc-list">
      <li routerLink="pay-item" class="mdc-list-item" tabindex="0">
        <span class="mdc-list-item__text">Pay an item</span>
      </li>
      <li routerLink="pay-bill" class="mdc-list-item">
        <span class="mdc-list-item__text">Pay a Bill</span>
      </li>
      <li routerLink="transfer" class="mdc-list-item">
        <span class="mdc-list-item__text">Transfer to an account</span>
      </li>
    </ul>
  </div>
</div>